body {
  font-family: var(--font-main-ko2);
}


.sub-project {
  position: fixed;
  z-index: 999;
  width: 400px; height: 100%;
  background-color: var(--color-white);
  border-right: var(--color-red);
}
.sub-project-wrapper {
  padding-left: var(--padding-sm);
}
.sub-project .sub-project-wrapper .sub-project-title {
  font-family: var(--font-main-en);
  font-size: var(--font-main-title-lg);
  margin-top: 100px;
  margin-bottom: 30px;
  color: var(--color-red);
  font-weight: bold;
  letter-spacing: var(--spacing-lg);
  position: relative;
} 
.sub-project-img {
z-index: -1;
width: 70%;
transform: translateX(600px);
} 

.sub-project .sub-project-dec {
  font-family: var(--font-main-ko);
  font-size: var(--font-sub-title-xsm);
  color: var(--color-red);
  letter-spacing: var(--spacing-sm);
  text-transform: capitalize;
  line-height: 25px;
} 
.sub-project .home-btn {
  position: absolute;
  bottom: 10%;
}
.sub-project .home-btn .home-icon {
  background-color: var(--color-red);
  display: block;
  width: 73px; height: 73px;
  text-align: center;
  border-radius: var(--border-radius-lg);
  text-indent: -9999px;
  background-image: url(./project2img/home_icon.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50%;
} 

.sub-project .home-btn .home-text {
  font-family: var(--font-main-ko);
  font-size: var(--font-main-title-md);
  background-color: var(--color-red);
  display: block;
  width: 203px; height: 73px;
  text-align: center;
  line-height: 73px;
  border-radius: var(--border-radius-lg);
  color: var(--color-white);
}





.project2-wrapper {
  position: absolute;
  left: 400px;
  width: calc(100%-400px);
  background-color: #ffffff;
  color: var(--color-red);
  font-weight: 0;
  padding: 100px 0px 150px 150px;
  
}

.project2-wrapper .main-img {
  display: block;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px;
}
.project2-wrapper .main-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: fixed;
  top: 50px;
  right: 100px;
}

.site-btn {
  font-size: 18px;
  padding: 10px 50px;
  display: block;
  text-align: center;
  color: #fff;
  border-radius: 40px;
  border: 1px var(--color-red) solid;
  background-color: var(--color-red);
  transition: 0.3s;
}


.project2-wrapper .main-btn .site-btn.active {
  backdrop-filter: blur(5px);
  background-color: transparent;
  color: var(--color-red);
  transition: 0.3s; 
}
.project2-wrapper .main-btn .site-btn.active:hover {
  color: #fff;
  transition: 0.3s;
  background-color: #ffffff48;
}

.project2-wrapper .situation,
.project2-wrapper .task,
.project2-wrapper .styleGuide,
.project2-wrapper .issueResolving,
.project2-wrapper .timeline,
.project2-wrapper .review
 {
  display: flex;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 200px;
}

.project2-wrapper .situation h2,
.project2-wrapper .situation h2,
.project2-wrapper .task h2,
.project2-wrapper .styleGuide h2,
.project2-wrapper .timeline h2,
.project2-wrapper .issueResolving h2,
.project2-wrapper .review h2 {
  width: 350px;
  padding: 15px 50px;
  border-right: 1px var(--color-red) solid;
}
.project2-wrapper .situation .situation-wrapper,
.project2-wrapper .task .task-wrapper,
.project2-wrapper .styleGuide .styleGuide-wrapper,
.project2-wrapper .timeline .timeline-wrapper,
.project2-wrapper .issueResolving .issueResolving-wrapper,
.project2-wrapper .review .review-wrapper {
  width: 40vw;
  padding-left: 100px;
}

.project2-wrapper .styleGuide .styleGuide-wrapper .keyword .keyword-wrapper,
.project2-wrapper .styleGuide .styleGuide-wrapper .color .color-wrapper,
.project2-wrapper .styleGuide .styleGuide-wrapper .font .font-wrapper{
  display: flex;
  gap: 20px;
}
.project2-wrapper .styleGuide .styleGuide-wrapper .keyword,
.project2-wrapper .styleGuide .styleGuide-wrapper .color,
.project2-wrapper .styleGuide .styleGuide-wrapper .font {
padding: 30px;
}


.project2-wrapper .styleGuide .styleGuide-wrapper .keyword h3,
.project2-wrapper .styleGuide .styleGuide-wrapper .color h3,
.project2-wrapper .styleGuide .styleGuide-wrapper .font h3 {
  margin-bottom: 15px;
}
.project2-wrapper .styleGuide .styleGuide-wrapper .keyword .keyword-wrapper li {
  width: 120px; height: 40px;
  text-align: center;
  line-height: 20px;
  border-radius: 100px;
  border: var(--color-red) 1px solid;
}
.project2-wrapper .styleGuide .styleGuide-wrapper .color .color-wrapper li {
  width: 120px; height: 40px;
  text-align: center;
  line-height: 20px;
  border-radius: 100px;
}
.project2-wrapper .styleGuide .styleGuide-wrapper .color .color-wrapper li:nth-child(1) {
  background-color: #000;
  color: #fff;
}
.project2-wrapper .styleGuide .styleGuide-wrapper .color .color-wrapper li:nth-child(2) {
  background-color: #fff;
  color: #000;
  border: 1px #000 solid;
}
.project2-wrapper .styleGuide .styleGuide-wrapper .color .color-wrapper li:nth-child(3) {
  background-color: #4a523e;
  color: #fff;

}
.project2-wrapper .styleGuide .styleGuide-wrapper .color .color-wrapper li:nth-child(4) {
  background-color: #fe6b0c;
  color: #fff;
}

.project2-wrapper .styleGuide .styleGuide-wrapper .font .font-wrapper li {
  width: 250px; height: 60px;
  text-align: center;
  line-height: 20px;
  border-radius: 100px;
  border: var(--color-red) 1px solid;
}
.project2-wrapper .styleGuide .styleGuide-wrapper .font .font-wrapper li:nth-child(1) {
  font-weight: 600;
}
.project2-wrapper .styleGuide .styleGuide-wrapper .font .font-wrapper li:nth-child(2) {
  font-weight: 500;
}
.project2-wrapper .styleGuide .styleGuide-wrapper .font .font-wrapper li:nth-child(3) {
  font-weight: 400;
}


.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper1 li:nth-child(1),
.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper2 li:nth-child(1) {
  padding-bottom: 0;
  line-height: 30px;
  }

.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper1 li:nth-child(2),
.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper2 li:nth-child(2) {
 padding: 5px 0 10px 5px;
}

.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper1 li strong,
.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper2 li strong {
  font-weight: 600;
}

.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper1 li span,
.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper2 li span {
  text-decoration: underline;
  font-weight: 500;
}
.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper1 .timeline-list-lg,
.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper2 .timeline-list-lg {
  font-size: var(--size-20px);
  padding-top: 15px;
}
.project2-wrapper .issueResolving .issueResolving-wrapper .issueResolving-wrapper1 li:nth-child(3) {
  padding-bottom: 15px;
}
.project2-wrapper .issueResolving .issueResolving-wrapper #ex-btn {
  padding: 5px 10px;
  text-align: center;
  width: 150px;
  margin: 10px 10px;
}
.project2-wrapper .issueResolving .issueResolving-wrapper #ex-btn2 {
  padding: 5px 10px;
  text-align: center;
  width: 150px;
  margin: 10px 10px;
}

.project2-wrapper .review .review-wrapper .regret-box {padding: 15px 0 50px 0;}
.project2-wrapper .review .review-wrapper .success-box {padding: 15px 0 50px 0;}
.project2-wrapper .review .review-wrapper .learned-box {padding: 15px 0 50px 0;}

.review h3 {
  padding: 0 0 20px 0;
}

.review .last-p { 
  padding-bottom: 10px;
  line-height: 30px;
  background-color: #fe6d0c17;
  padding: 15px 30px;
  margin-bottom: 15px;
}

.issueResolving-wrapper1 {
  margin-bottom: 50px;
}









/* 예시 사진 모달창 */


#modalWrap {
  position: fixed; /* 화면에 고정 */
  z-index: 999; /* 상위에 위치 */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명한 배경색 */
  display: none; /* 초기에는 숨김 */
}

#modalBody {
  width: 900px;
  height: 300px;
  padding: 30px 30px;
  margin: 200px auto;
  border: 1px solid #777;
  background-color: #fff;
}

#closeBtn {
  float: right;
  font-weight: bold;
  color: var(--color-red);
  font-size: 50px;
  cursor: pointer;
}




#modalWrap2 {
  position: fixed; /* 화면에 고정 */
  z-index: 999; /* 상위에 위치 */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명한 배경색 */
  display: none; /* 초기에는 숨김 */
}

#modalBody2 {
  width: 900px;
  height: 400px;
  padding: 30px 30px;
  margin: 100px auto;
  border: 1px solid #777;
  background-color: #fff;
}

#closeBtn2 {
  float: right;
  font-weight: bold;
  color: var(--color-red);
  font-size: 50px;
  cursor: pointer;
}

#modalWrap2 img {
  width: 800px;
}